<section>

    <div class="banner" fxLayout="row" fxLayoutAlign="space-evenly center">


        <div fxLayout="column" fxLayoutAlign="space-evenly start">


            <h3>Great photography </h3>
            <h1>Clinical skirt bow or zero</h1>

            <p>Soccer sometimes soft sapien. But the laughter. Phas pain, lacinia, <br>
                a loud crash from any corper laoreet, volutpat mattis eros odio nisi <br>
                feugiat lectus arcu pulviuisque.</p>

        </div>


        <div fxLayout="column" fxLayoutAlign="space-evenly center">

            <h3>Magna consequat</h3>
            <h1>Fusce lacinia arcu et nulla</h1>

        </div>


    </div>


</section>