<section>

    <div class="banner" fxLayout="row" fxLayoutAlign="space-evenly center">

        <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">

            <div  fxLayout="column" fxLayoutAlign="space-evenly start" fxFlex="30" class="banner-content" >

                <h3>Great photography </h3>
                <h1>Clinical skirt bow or zero</h1>

                <p>Soccer sometimes soft sapien. But the laughter. Phas pain, lacinia, <br>
                    a loud crash from any corper laoreet, volutpat mattis eros odio nisi <br>
                    feugiat lectus arcu pulviuisque.
                </p>

                <div fxLayout="row" fxLayoutAlign="space-evenly center">

                    <button mat-button class="btn"> Sign in </button>
                    <button mat-button class="btn"> Sign up </button>


                    <div class="btn-brd">
                    </div>

                </div>

            </div>


            <div fxLayout="row" fxLayoutAlign="space-evenly center" fxFlex="70">
                <img class="mid-frame" src="../../../assets//monitor-frame.png" alt="mid-frame" style="position:absolute">
                <img class="bck-frame" src="../../../assets//monitor-frame.png" alt="mid-frame" height="200px">
                <img class="bck-frame" src="../../../assets//monitor-frame.png" alt="mid-frame" height="200px">
                <img class="screen" src="https://aegirit.files.wordpress.com/2018/11/aegirit-ia.jpeg?w=640" alt=""
                    style="position:absolute; padding-bottom: 20px" height="250px" width="430px">
                <!-- <img src="../../../assets/download.jpeg" alt="" height="200px">
                    <img src="../../../assets/download.jpeg" alt="" height="200px"> -->


            </div>

        </div>

    </div>

</section>