 .mat-toolbar {
     padding: 45px;
     margin-bottom: 0px;
 }

.btn button{
     margin: 10px;
 }
 .nav-title{ 
     padding: 30px;
     background-color:  #82acc6;
     color: white;
     width: 241px;
     height: 69px;
     text-align: center;
  
}

.nav-title-down{

    content: '';
    bottom: -2em;
    border-top: solid 2em #82acc6;
    border-left: solid 7.5em transparent;
    border-right: solid 7.5em transparent;
}
 

 .nav-title h1{

    padding-top: 40px;
    font-family: monospace;
    font-size: 25px;
    font-weight: bolder
    
 }

 a:hover{
     background-color:  #82acc6;
     cursor: pointer;

 }






/* 

 .header {
    height: 80px;
    background-color: black;
    padding: 0 20px;
    padding: 30px;
    }
    .logo {
    line-height: 100px;
    float: left;
    text-transform: uppercase;
    }
    
    .menu {
    float: right;
    line-height: 100px;
    }
    .menu a {
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
    }
    .show-menu-btn,
    .hide-menu-btn {
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
    }
    .show-menu-btn {
    float: right;
    color: white;
    }
    .show-menu-btn i {
    line-height: 100px;
    }
    .menu a:hover,
    .show-menu-btn:hover,
    .hide-menu-btn:hover {
    color: #3498db;
    }
    
    #chk {
    position: absolute;
    visibility: hidden;
    z-index: -1111;
    }
    
    .content {
    padding: 0 20px;
    }
    .content img {
    width: 100%;
    max-width: 700px;
    margin: 20px 0;
    }
    .content p {
    text-align: justify;
    }
    
    @media screen and (max-width: 800px) {
    .show-menu-btn,
    .hide-menu-btn {
    display: block;
    }
    .menu {
    position: fixed;
    width: 50%;
    height: 100vh;
    background: orange;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
    }
    .menu a {
    display: block;
    padding: 20px;
    }
    .hide-menu-btn {
    position: absolute;
    top: 40px;
    right: 40px;
    }
    #chk:checked ~ .menu {
    right: 0;
    }
    }
    
    a {
    text-decoration: none;
    color: white;
    }
    .logo i {
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 50%;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    vertical-align: middle;
    margin-bottom: 20px;
    }
    .header h2 a {
    font-size: 2em;
    padding: 0 0 0 8px;
    } */