<mat-toolbar class="toolbar" fxLayout="row wrap" fxLayoutAlign="space-around center">
  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">

    <div fxFlex="30" fxLayout="column" fxLayoutAlign="start center">

      <div class="nav-title">

        <h1> Tech-Blog</h1>

      </div>

      <div class="nav-title-down">

      </div>

    </div>




    <div fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxFlex="70 " class="btn">

      <a> <button mat-button>Home</button></a>
      <a> <button mat-button>Windows</button></a>
      <a> <button mat-button>Mac</button></a>
      <a> <button mat-button>Linux</button></a>
      <a> <button mat-button>Raspberry Pi</button> </a>


    </div>



  </div>

</mat-toolbar>