<mat-toolbar class="toolbar" fxLayout="row wrap" fxLayoutAlign="space-around center">

  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">

    <div fxFlex="30" fxLayout="column" fxLayoutAlign="start center">
      <div class="nav-title">
        <h1> Tech-Blog</h1>
      </div>

      <div class="nav-title-down">

      </div>
    </div>

    <!-- <input type="checkbox" id="chk" />
    <label for="chk" class="show-menu-btn">
      <i class="fas fa-ellipsis-h"></i>
    </label> -->


    <div fxFlex="70" fxLayout="row wrap" fxLayoutAlign="space-evenly center" class="btn">
      <!-- <div class="menu"> -->

        <a> <button mat-button>Home</button></a>
        <a> <button mat-button>Windows</button></a>
        <a> <button mat-button>Mac</button></a>
        <a> <button mat-button>Linux</button></a>
        <a> <button mat-button>Raspberry Pi</button> </a>
        <!-- <label for="chk" class="hide-menu-btn">
          <i class="fas fa-times"></i>
        </label> -->
      <!-- </div> -->

    </div>

  </div>



  <!-- <div fxLayout="row wrap" fxLayoutAlign="center center">
      <div fxFlex="100">
      <div class="header">
      <h2 class="logo">
      <i class="fa fa-rocket"></i>
      <a href="index.html">Polaris</a>
      </h2>
      <input type="checkbox" id="chk" />
      <label for="chk" class="show-menu-btn">
      <i class="fas fa-ellipsis-h"></i>
      </label>
      
      <ul class="menu">
      <a href="#">Home Page</a>
      <a href="#">Page Layouts</a>
      <a href="contact">Contact Page</a>
      <label for="chk" class="hide-menu-btn">
      <i class="fas fa-times"></i>
      </label>
      </ul>
      </div>
      </div>
      </div> -->

</mat-toolbar>