<section class="foot">

  <footer fxLayout="row" fxLayoutAlign="space-around center">


    <div class="row1">

      <h2>Life free photography</h2>

      <p>
        Each convenience undergraduate nibh important element is always a pot.
        No undergraduate <br> members of the shooting. For pregnant but my pain Planning courses.
        To carton, peanut care <br> to pregnant, now put the lion, but it was not the only sit.
        When Pulls Rays Even mainstream push <br> ut, instantly. Each convenience nibh,
        carrots pot is always the element of pain. No <br>undergraduate members of the shooting.
        For pregnant but my pain Planning courses.
        To carton, <br> peanut care to pregnant, now put the lion,
        but it was not the only sit. When Pulls Rays Super Bowl.</p>

      <div fxLayout="row">
        <button class="btn"> Ipsum </button>
        <div class="btn1"></div>
      </div>

    </div>

    <div class="row2">

      <h2>Eu mauris</h2>

      <!-- <ul> -->
      <p>Lorem ipsum consumer is ametad</p>
      <p>Some developers Mauris smile</p>
      <p>Vivamus vestibulum nec ant unt</p>
      <p>Integer free services placer</p>
      <p>Who flat retail interest</p>
      <p>Some developers Mauris smile</p>
      <!-- </ul> -->

    </div>

    <div class="row3">
      <h2>Sit recipe?</h2>

      <h2>Contact Us</h2>

      <p>1234 Somewhere Rd 54321
        Franklin, TN 00000</p>

      <p>information@untitled.tld</p>

      <p>(000) 000-00000</p>

    </div>


  </footer>


</section>


<!-- 
<div fxLayout="column" fxLayoutAlign="space-around start">
   

    <div>

      <p>sdsbdjfbdjhf</p>

    </div>
    <div>

      <p>dsjdhkjshd</p>

    </div>
  </div> -->