<section class="foot">

  <footer fxLayout="row" fxLayoutAlign="space-around center">


    <div class="row1">

      <h2>Life free photography</h2>

      <p>
        Each convenience undergraduate nibh important element is always a pot.
        No undergraduate <br> members of the shooting. For pregnant but my pain Planning courses.
        To carton, peanut care <br> to pregnant, now put the lion, but it was not the only sit.
        When Pulls Rays Even mainstream push <br> ut, instantly. Each convenience nibh,
        carrots pot is always the element of pain. No <br>undergraduate members of the shooting.
        For pregnant but my pain Planning courses.
        To carton, <br> peanut care to pregnant, now put the lion,
        but it was not the only sit. When Pulls Rays Super Bowl.</p>

      <div fxLayout="row">
        <button class="btn"> Ipsum </button>
        <div class="btn1"></div>
      </div>

    </div>

    <div class="row2">

      <h2>Eu mauris</h2>

      <!-- <ul> -->
      <div fxLayout="row">
        <img src="../../../assets/170_arrow_next_right-256.png" alt="" height="20px">
        <p>Lorem ipsum consumer is ametad</p>

      </div>
      <div fxLayout="row">
        <img src="../../../assets/170_arrow_next_right-256.png" alt="" height="20px">

        <p>Some developers Mauris smile</p>

      </div>
      <div fxLayout="row">
        <img src="../../../assets/170_arrow_next_right-256.png" alt="" height="20px">

        <p>Vivamus vestibulum nec ant unt</p>

      </div>
      <div fxLayout="row">
        <img src="../../../assets/170_arrow_next_right-256.png" alt="" height="20px">

        <p>Integer free services placer</p>

      </div>
      <div fxLayout="row">
        <img src="../../../assets/170_arrow_next_right-256.png" alt="" height="20px">

        <p>Who flat retail interest</p>

      </div>
      <div fxLayout="row">
        <img src="../../../assets/170_arrow_next_right-256.png" alt="" height="20px">

        <p>Some developers Mauris smile</p>

      </div>

      <!-- </ul> -->

    </div>

    <div class="row3">
      <h2>Sit recipe?</h2>

      <h2>Contact Us</h2>

      <div fxLayout="row">

        <img src="../../../assets/10-256.png" alt="" height="40px">

        <p>1234 Somewhere Rd 54321 <br>
          Franklin, TN 00000</p>
      </div>


      <div fxLayout="row">

        <img src="../../../assets/44-256.png" alt="" height="40px">
        <p>information@untitled.tld</p>

      </div>

      <div fxLayout="row">
        <img src="../../../assets/017_085_phone_call_answer-256.png" alt="" height="40px">
        <p style="margin:5px">(000) 000-00000</p>

      </div>

    </div>



 




    <h1></h1> <h2></h2>
  </footer>

  <div>
  <button class="ft-btn"> Somthing </button>

  </div>

</section>