<hr>
<section class=" recent">

  <h2> Eu lorem no recipe </h2>

  <div fxLayout="row wrap" fxLayoutAlign="space-around center">
    <div fxFlex.xs="25" fxFlex.sm="75" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">

      <div class="align" fxFlex="25" fxLayout="column" fxLayoutAlign="space-around start">

        <mat-card>
          <img src="../../../assets/placeholder.jpg" alt="">
          <p> jane Doe</p>
        </mat-card>

        <p>For thermal Bureau region. Sik a whole lot <br> agittis.

          Mauris eu lorem ipsum sad need to <br> focus on live performance.

        </p>

        <button class="btn"> more </button>

      </div>

      <div class="align" fxFlex="25" fxLayout="column" fxLayoutAlign="space-around start">

        <mat-card>
          <img src="../../../assets/placeholder.jpg" alt="">
          <p>jhjsh</p>
        </mat-card>

        <p>For thermal Bureau region. Sik a whole lot <br> agittis.

          Mauris eu lorem ipsum sad need to <br> focus on live performance.

        </p>

        <button class="btn"> more </button>


      </div>

      <div class="align" fxFlex="25" fxLayout="column" fxLayoutAlign="space-around start">

        <mat-card>
          <img src="../../../assets/placeholder.jpg" alt="">

          <p>ksjhf</p>
        </mat-card>

        <p>For thermal Bureau region. Sik a whole lot <br> agittis.

          Mauris eu lorem ipsum sad need to <br> focus on live performance.

        </p>

        <button class="btn"> more </button>

      </div>

      <div class="align" fxFlex="25" fxLayout="column" fxLayoutAlign="space-around start">

        <mat-card>
          <img src="../../../assets/placeholder.jpg" alt="">

          <p>sfjhksjdf</p>
        </mat-card>

        <p>For thermal Bureau region. Sik a whole lot <br> agittis.

          Mauris eu lorem ipsum sad need to <br> focus on live performance.

        </p>

        <button class="btn"> more </button>

      </div>

    </div>
  </div>
</section>