<section class="content">

  <div class="align" fxLayout="row" fxLayoutAlign="space-around center">

    <div class="cont1" fxLayout="column" fxLayoutAlign="space-around start">
      <h1> Even pain free <br> veroeros great.</h1>
      <h4> But before the freight photography undergraduate players lorem. </h4>

    </div>

    <div class="cont2" fxLayout="column" fxLayoutAlign="space-around start">
      <div fxLayout="row" fxLayoutAlign="space-around center">

        <img src="../../../assets/__data_file_search-256.png" alt="" height="60px">
        <h3> Sed feugiat consequat nulla pain,</h3>
      </div>

      <p>However, law enforcement, before and <br> Vulputate weekend,
        peanut foot is always the <br> fear of leaks of mourning for propaganda.
        <br>
        Free soccer chili recipe.
      </p>

      <button mat-button class="btn"> more</button>

    </div>

    <div class="cont3" fxLayout="column" fxLayoutAlign="space-around start">

      <div fxLayout="row" fxLayoutAlign="space-around center">
        <img src="../../../assets/bubble_talk_chat_-256.png" alt="" height="50px">
        <h3>Mollis sapien Nulla lorem dolor</h3>

      </div>

      <p>However, law enforcement, before and <br> Vulputate weekend,
        peanut foot is always the <br> fear of leaks of mourning for propaganda.
        <br>
        Free soccer chili recipe.
      </p>

      <button mat-button  class="btn"> more</button>


    </div>

    <div class="cont4" fxLayout="column" fxLayoutAlign="space-around start">

      <div fxLayout="row" fxLayoutAlign="space-around center">
        <img src="../../../assets/Search-256.png" alt="" height="50px">
        <h3>Very important real estate photography</h3>

      </div>

      <p>However, law enforcement, before and <br> Vulputate weekend,
        peanut foot is always the <br> fear of leaks of mourning for propaganda.
        <br>
        Free soccer chili recipe.
      </p>

      <button  mat-button class="btn"> more</button>


    </div>


  </div>


</section>