
<section class="content">

  <div class="align" fxLayout="row" fxLayoutAlign="space-around center">

    <div class="cont1">
      <h2> Even pain free veroeros great.</h2>
      <p> But before the freight photography undergraduate players lorem. </p>



    </div>

    <div class="cont2">

      <h3> Sed feugiat consequat nulla pain,</h3>
      <p>However, law enforcement, before and <br> Vulputate weekend,
        peanut foot is always the <br> fear of leaks of mourning for propaganda.
        <br>
        Free soccer chili recipe.
      </p>

      <button class="btn"> more</button>

    </div>

    <div class="cont3">

      <h3>Mollis sapien Nulla lorem dolor</h3>
      <p>However, law enforcement, before and <br> Vulputate weekend,
        peanut foot is always the <br> fear of leaks of mourning for propaganda.
        <br>
        Free soccer chili recipe.
      </p>

      <button class="btn"> more</button>


    </div>

    <div class="cont4">

      <h3>Very important real estate photography</h3>
      <p>However, law enforcement, before and <br> Vulputate weekend,
        peanut foot is always the <br> fear of leaks of mourning for propaganda.
        <br>
        Free soccer chili recipe.
      </p>

      <button class="btn"> more</button>


    </div>


  </div>


</section>