<div class="content">
  <div class="align">

    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
      <div  fxFlex="25" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" class="cont">
        <h1> Even pain free <br> veroeros great.</h1>
        <h4> But before the freight photography undergraduate players lorem. </h4>
      </div>


      <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="100"  fxFlex.md="50" class="cont">
        <div fxLayout="row">
          <img src="../../../assets/__data_file_search-256.png" alt="" height="60px">
          <span style="font-size:20px;   "> Sed feugiat consequat  nulla pain,</span>
        </div>

        <p>However, law enforcement, before and <br> Vulputate weekend,
          peanut foot is always the <br> fear of leaks of mourning for propaganda.
          <br>
          Free soccer chili recipe.
        </p>
        <button mat-button class="btn"> more</button>
      </div>


      <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="100"  fxFlex.md="50" class="cont">

        <div  fxLayout="row">
          <img src="../../../assets/bubble_talk_chat_-256.png" alt="" height="50px">
          <span  style="font-size:20px; margin:4px">Mollis sapien Nulla lorem dolor</span>

        </div>

        <p>However, law enforcement, before and <br> Vulputate weekend,
          peanut foot is always the <br> fear of leaks of mourning for propaganda.
          <br>
          Free soccer chili recipe.
        </p>

        <button mat-button class="btn"> more</button>

      </div>



      <div fxFlex="25" fxFlex.xs="100" fxFlex.sm="100"  fxFlex.md="50" class="cont">

        <div  fxLayout="row" >
          <img src="../../../assets/Search-256.png" alt="" height="50px">
          <span  style="font-size:20px;">Very important real estate photography</span>
        </div>

        <p>However, law enforcement, before and <br> Vulputate weekend,
          peanut foot is always the <br> fear of leaks of mourning for propaganda.
          <br>
          Free soccer chili recipe.
        </p>

        <button mat-button class="btn"> more</button>

      </div>

    </div>
  </div>
</div>