 #col1{
     background-color: cyan;
 }
 #col2{
    background-color:purple;
}
#col3{
    background-color: steelblue;
}
.card{
    background-color: crimson;

}
.margin img{
    /* margin: 10px */
    top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}