<section >

  <div fxLayout="row wrap" fxLayoutAlign="space-around start" class="all-cont">

    <div class="col1" fxLayout="column"  fxFlex="33.33" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50">
      <h1> But the big problem recipe </h1>
      <div>
        <div class="pd" fxLayout="row">
          <img src="../../../assets/170_arrow_next_right-256.png" alt="" height="40px">
          <h3>Integer zero</h3>
        </div>

        <p>Posted by Jane Doe 5 minutes ago </p>
        <p>Soccer sometimes soft sapien. But the laughter. <br>
          Phasellus lacinia, magna nisl lacus, suscipit bibendum lectus arcu, <br>
          vitae facilisis libero the project, from the pure. <br>
          But even stress. Consequat Mauris Suspendisse nibh felis dolor.
        </p>
      </div>

      <div class="pd" fxLayout="row">
        <img src="../../../assets/170_arrow_next_right-256.png" alt="" height="40px">
        <h3>Retail interest macro</h3>
      </div>


      <p>Posted by John Doe 8 minutes ago</p>
      <p>Soccer sometimes soft sapien. But the laughter. <br>
        Phasellus lacinia, magna nisl lacus, suscipit <br>
        bibendum lectus arcu, vitae facilisis libero the project, <br>
        from the pure. But even stress. Consequat Mauris Suspendisse <br>
        nibh felis dolor.</p>
      <div>
        <button class="btn" mat-button> more </button>
      </div>

    </div>







    <div class="col2" fxLayout="column" fxFlex="33.33" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50">

      <h1>scuba diving</h1>
      <div fxLayout="column">
        <div fxLayout="row">
          <img src="../../../assets/01_arrow_right-256.png" alt="" height="20px">
          <p>Lorem ipsum mainstream consumer photography</p>
        </div>

        <div fxLayout="row">
          <img src="../../../assets/01_arrow_right-256.png" alt="" height="20px">
          <p>Some developers Mauris smile</p>
        </div>

        <div fxLayout="row">
          <img src="../../../assets/01_arrow_right-256.png" alt="" height="20px">
          <p>Vivamus vestibulum nor is there any ant unt</p>
        </div>

        <div fxLayout="row">
          <img src="../../../assets/01_arrow_right-256.png" alt="" height="20px">
          <p>Integer free laughter enforcement
          </p>
        </div>

        <div fxLayout="row">
          <img src="../../../assets/01_arrow_right-256.png" alt="" height="20px">
          <p>Retail interest trigger any temperature
          </p>
        </div>

        <div fxLayout="row">
          <img src="../../../assets/01_arrow_right-256.png" alt="" height="20px">
          <p>Unfortunately, sometimes the consumer at any dui</p>
        </div>

        <div fxLayout="row">
          <img src="../../../assets/01_arrow_right-256.png" alt="" height="20px">
          <p>Clinical carton and always lorem ipsum
          </p>
        </div>

        <div fxLayout="row">
          <img src="../../../assets/01_arrow_right-256.png" alt="" height="20px">
          <p>Integer convenience zero</p>
        </div>


      </div>

      <div>
        <button class="btn" mat-button> more </button>
      </div>

    </div>




    <div class="col3" fxLayout="column" fxFlex="33.33" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50">
      <h1> In soccer semque
      </h1>

      <div>
        <h4>commodities</h4>

        <p>There is no living <br>
          environment does not trigger <br>
          a soft jaws, and he, volutpat <br>
          mattis eros.

        </p>
      </div>

      <div>
        <h4> Stress pain</h4>

        <p>The lion foot perfect fit skirt <br>
          football, beef or velnisl <br>
          Planning.

        </p>
      </div>

      <div>
        <h4>labor lorem</h4>
        <p>As of the valley, is the <br>
          ametterdum, consectetuer sem, <br>
          odioin augue aliquam leo.</p>
      </div>



      <div>
        <button class="btn" mat-button> more </button>
      </div>

    </div>


  </div>

</section>